body {
  background-color: #F0F2EB;
  color: #794932;
}

.heading p {
  font-size: 20px;
}

nav {
position: relative;
background-color: white;
text-align: right;
padding: 5px;
}

nav ul{
  list-style-type: none;
  margin: 10px 60px;
}

a:link {
  color: #794932;
  text-decoration: none;
}

a:visited {
  color: #794932;
  text-decoration: none;
}

a:hover {
  color: #FF4242;
}

.show img {
  width: 600px;
}

.img-index img {
  width: 250px;
  border: 2px solid black;
  margin: 9px;
}

.container {
  position: relative;
  margin: 20px auto;
  width: 840px;
  padding: 0px 20px 20px 20px;
  text-align: center;
}

.heading {
  margin: 20px auto;
  width: 600px;
  vertical-align: bottom;
}

.sort_by {
  padding: 20px 20px 0px 20px;
  margin: 0px auto;
  width: 800px;
}

.title {
  font-size: 28px;
}
