<div class="container">
  <span class="show">
    <a href="/entry/picture/<%= @entry.id %>">
      <img src="/uploads/<%= @entry.id %>/1.png" />
    </a>
  </span>
  <span>Name:</span>
  <span>Description:</span>
  <span>Cohort:</span>
  <span>Phase:</span>
  <span>Languages:</span>
  <span>Date:</span>
  edit/delete
</div>